<section class="add-product">
  <div class="form-container">
    <form action="/" method="post">
      <label for="name">Product Name</label>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="enter product name" />

      <label for="desc">Product Description</label>
      <textarea
        name="desc"
        id="desc"
        placeholder="enter product description"></textarea>

      <label for="price">Price</label>
      <input
        type="number"
        name="price"
        id="price"
        placeholder="enter valid product price" />

      <label for="image">Image</label>
      <input type="url" name="image" id="image" placeholder="image URL" />

      <input type="submit" value="Add" />
    </form>
  </div>
</section>
