<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Admin Module</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="nav container">
        <ul>
          <li>Products</li>
          <li>Add Product</li>
        </ul>
      </div>
    </nav>
    <main>
      <section class="products-section">
        <div class="products-container">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Image</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Product 1</td>
                <td>This is description for product 1</td>
                <td>200</td>
                <td><img src="" alt="product-image" /></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Product 2</td>
                <td>This is description for product 2</td>
                <td>200</td>
                <td><img src="" alt="product-image" /></td>
              </tr>
              <tr>
                <td>3</td>
                <td>Product 3</td>
                <td>This is description for product 3</td>
                <td>200</td>
                <td><img src="" alt="product-image" /></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </main>
  </body>
</html>
