<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Admin Module</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="nav container">
        <ul>
          <li>Products</li>
          <li>Add Product</li>
        </ul>
      </div>
    </nav>
    <main><%-body%></main>
  </body>
</html>
